.card-container {
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    
}

.card {
    width:220px;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2PX 6PX (0,0,0,0,2);
    background-color: #f9f9f9;
}

.card h3 {
    margin-bottom: 5px;
}

.role {
    display:inline-block;
    margin-top:8px;
    font-size:12px;
    color:white;
    background-color: #007bff;
    padding: 4px 8px;
    border-radius: 4px;
}

